@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

.rounded-div {
  @apply bg-primary text-primary shadow-custom rounded-lg;
}

.dark {
  --color-bg-primary: hsl(207, 26%, 17%);
  --color-bg-secondary: hsl(209, 23%, 22%);
  --color-text-input: hsl(0, 0%, 100%);
  --color-text-primary: hsl(0, 0%, 100%);
  --box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
}

.light {
  --color-bg-primary: hsl(0, 0%, 98%);
  --color-bg-secondary: hsl(0, 0%, 100%);
  --color-text-input: hsl(0, 0%, 52%);
  --color-text-primary: hsl(200, 15%, 8%);
  --box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px;
}
